
.DS_Store
#/client/lnwza/nbproject/private/
#/client/lnwza-Preloader/nbproject/private/
#/client/lnwza/build/
#/client/lnwza/dist/

/client/lnwza/*
!/client/lnwza/src
!/client/lnwza/lib
client/lnwza/src/application/resources/config.properties
client/lnwza/src/ui/fxml/PurchaseBag.fxml
