
.DS_Store
.vscode

/client/lnwza/*
!/client/lnwza/src
!/client/lnwza/lib
!/client/lnwza/sample_data
client/lnwza/src/application/resources/config.properties
client/lnwza/src/ui/controller/StatisticDisplayController.java
client/lnwza/src/ui/fxml/StatisticDisplay.fxml

website/lnwza/composer.json
website/lnwza/composer.lock
website/lnwza/connect.php
