.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color:  #4AC9BC;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
}