.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: -fx-table-cell-border-color,  #140144;
    
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color,  #e6f3ff;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color,   #ffffff;
}


.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: #0066cc;
    -fx-text-fill: #ffffff;
}

.income  {
  -fx-text-fill: #009933;
}
.outcome  {
  -fx-text-fill: #ff3300;
}
.total  {
  -fx-text-fill: #0033cc;
  -fx-font-weight: bold;
}

.button {
  -fx-focus-color: transparent;
-fx-faint-focus-color: transparent;
}

.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color; 
  -fx-background-insets: 0, 0, 1, 2;
}
